// ici dans ce fichier , on met les regles ou les bases de facon générique 

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin:1rem 0 2rem 0;
  text-transform: uppercase;
  text-align:center;
  font-weight: bold;
}

ul {
  list-style: none;
}
 a {
   text-decoration: none;
 }

 img {
   max-width: 100%;
 }

 .red-divider
{
    width:100px;
    height:2px;
    margin:0 auto;
    color:var(--light);
}

// .white-divider
// {
//     width:100px;
//     height:2px;
//     color:#fff;
//     margin:0 auto;
// }

